<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
<%
if(parameters.errFlag) {
-%>
    <base href="/">
<%
}
-%>
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= parameters.title %> - <%= commons.sitename %></title>
    <meta name="description" content="<%= parameters.description %>">
    <meta name="author" content="<%= commons.author %>">

    <meta name="theme-color" content="<%= commons.themecolor %>">

    <meta name="twitter:card" content="<%= parameters.ogp.card %>">
    <meta name="twitter:site" content="@<%= parameters.ogp.account %>">
    <meta property="og:type" content="<%= parameters.ogp.type %>">
    <meta name="og:title" content="<%= parameters.title %>">
    <meta name="og:site_name" content="<%= commons.sitename %>">
    <meta name="og:description" content="<%= parameters.description %>">
    <meta name="og:image" content="<%= parameters.ogp.image %>">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap&text=<%= commons.sitename %><%= parameters.title %>そんなんはひとりの棒たのだっ。サンプルテキスト" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
</head>