<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Home',
        description: 'ブロークングリッドの実装テストです',
        ogp: {
            card: 'photo',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/fENvSZUzbzU/1920x1080'
        },
        address: '北海道札幌市北区丸山町字辛亥五ノ村30-90',
        postalcode: '001-0000',
        tel: '000-000-0000',
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<div class="container-fluid c-eyecatch">
    <div class="row px-0 pb-4 c-eyecatchWrapper">
        <div class="col-10 col-md-8 c-eyecatchInner">
            <div class="c-eyecatchTextbox">
                <p class="py-3 px-2 mb-0">かっこうも前つけといるだ。仲間は十あわて足ぶみのようがむしってしまいまし。楽長は猫町や何を出ているた。</p>
            </div>
        </div>
        <div class="col-2 col-md-4 c-eyecatchCopy">
            <h2 class="my-0">かっこうも前つけといるだ。</h2>
        </div>
    </div>
</div>
<main class="l-main">
    <section class="container py-5">
        <h1><i class="fas fa-fw fa-long-arrow-alt-up mr-2" aria-hidden="true"></i><%= parameters.title %></h1>
        <p><%= parameters.description %></p>
    </section>
    <section class="container pb-5">
        <h2>連絡先情報</h2>
        <div class="list-group mb-3">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= parameters.author %></h5>
                    <small>※住所・郵便番号・電話番号はいずれもダミーです</small>
                </div>
                <p class="mb-1"><span class="c-address c-address_postalcode mr-1"><%= parameters.postalcode %></span> <span class="address"><%= parameters.address %></span></p>
                <small><a href="tel:<%= parameters.tel %>"><span class="c-address c-address_tel mr-1"><%= parameters.tel %></span></a></small>
            </div>
        </div>
        <p>※住所・郵便番号・電話番号はいずれもダミーです。</p>
    </section>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>