<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Home',
        description: 'ブロークングリッドの実装テストです。',
        ogp: {
            card: 'photo',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/fENvSZUzbzU/1920x1080'
        },
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<!-- ブロークン アイャッチ1 -->
<div class="container-fluid c-eyecatch">
    <div class="row px-0 pb-4 c-eyecatch_wrapper">
        <div class="col-10 col-md-8 c-eyecatch_inner">
            <div class="c-eyecatch_textbox">
                <p class="py-3 px-2 mb-0">かっこうも前つけといるだ。仲間は十あわて足ぶみのようがむしってしまいまし。楽長は猫町や何を出ているた。</p>
            </div>
        </div>
        <div class="col-2 col-md-4 c-eyecatch_copy">
            <h2 class="my-0">そんなんはひとりの棒たのだっ。</h2>
        </div>
    </div>
</div>
<!-- /ブロークン アイャッチ1 -->
<main class="l-main">
    <div class="container-fluid c-shortbreak">
        <div class="container py-4">
            <h1><i class="fas fa-fw fa-birthday-cake me-2" aria-hidden="true"></i><%= parameters.title %></h1>
            <p><%= parameters.description %></p>
        </div>
    </div>
    <div class="container py-4">
        <p>遅く息でと出るてしまいてセロをなっようましゴーシュをつれてまたやはり一足を本したたい。なかなかかとリボンはがちょろちょろあけだございてこわくんとは途中も子のねどこないまし。トマトは君をさっきでし譜のなか何を飛びでようにな足ぐったがってしばらくくしゃみをするようなを勢をつまんば何かしんにくっていました。</p>
        <p>「そしてまだはじめの療。い。」なあんだととまって知らなかと鳴らしていきなりゴーシュをこどもをしきりに呆れがセロ弾きですたい。「楽た。ごくごくひくてきう。さまがはできることませてかい。一つというんからぽんぽんこすりきで。わかっも戻っもからだというのにちょっと云いましんで。けれども一杯じっと野鼠のゴーシュと出だはよ。それじゃあみんなばかりはいりで二つのかっこうにあけてあなたの音楽でたべるから鳴っようたのた、あるよ、間もなくおろしけれども行ったてなあ。</p>
    </div>
    <!-- ブロークン1 -->
    <section class="container-fluid c-broken1 pt-4">
        <div class="container c-broken1_wrapper">
            <div class="row py-4">
                <div class="col-12 col-lg-6 order-lg-2">
                    <picture class="c-broken1_pic">
                        <source srcset="https://source.unsplash.com/fENvSZUzbzU/640x360" media="(max-width: 767px)" class="img-fluid c-broken1_img">
                        <source srcset="https://source.unsplash.com/fENvSZUzbzU/1280x720" media="(min-width: 768px) and (max-width: 1199px)" class="img-fluid c-broken1_img">
                        <source srcset="https://source.unsplash.com/fENvSZUzbzU/1920x1080" media="(min-width: 1200px)" class="img-fluid c-broken1_img">
                        <img src="https://source.unsplash.com/fENvSZUzbzU/1920x1080" alt="苺のショートケーキ" class="img-fluid c-broken1_img">
                    </picture>
                </div>
                <div class="col-12 col-lg-6 order-lg-1 pe-4 py-4 text-center c-broken1_box">
                    <h2>サンプルテキスト</h2>
                    <p>どなりは扉にいきなりとだしてからだを町のようが叩きて手に行くんでぱっと室がつづけてだしです。どんといつもゴーシュをねずみをすまたた。やつまっすぐにゴムのどなりて猫が座ったまし。</p>
                    <p>療見その狩り下手からそれ一拍のままへ猫がとっようたのましは、ここがはまもなく丈夫だでぞ。するとはじめはきょろきょろはここまで、ぶっつかっで二時をはどうしてもパチパチパチッへきいてい教わり。</p>
                    <a href="./top2.html" class="btn btn-light mt-3">サンプル2へ</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /ブロークン1 -->
    <!-- ブロークン2 -->
    <section class="container-fluid py-4 c-broken2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 pe-4 py-4 c-broken2_box">
                    <h2>サンプルテキスト</h2>
                    <p>遅く息でと出るてしまいてセロをなっようましゴーシュをつれてまたやはり一足を本したたい。なかなかかとリボンはがちょろちょろあけだございてこわくんとは途中も子のねどこないまし。トマトは君をさっきでし譜のなか何を飛びでようにな足ぐったがってしばらくくしゃみをするようなを勢をつまんば何かしんにくっていました。</p>
                    <p>子にトマトをひらいていみんなげからどんな一つ裏ごつごつたり子団の子までの扉風車で考えがしまいだにわかにやつのちがいはこんこん云いのです。鳥外さま。</p>
                    <a href="./top2.html" class="btn btn-light mt-3">サンプル2へ</a>
                </div>
            </div>
        </div>
        <div class="c-broken2_bgimg"></div>
    </section>
    <!-- /ブロークン2 -->
    <div class="container-fluid py-4 c-shortbreak">
        <div class="container">
            <p>遅く息でと出るてしまいてセロをなっようましゴーシュをつれてまたやはり一足を本したたい。なかなかかとリボンはがちょろちょろあけだございてこわくんとは途中も子のねどこないまし。トマトは君をさっきでし譜のなか何を飛びでようにな足ぐったがってしばらくくしゃみをするようなを勢をつまんば何かしんにくっていました。</p>
            <p>「そしてまだはじめの療。い。」なあんだととまって知らなかと鳴らしていきなりゴーシュをこどもをしきりに呆れがセロ弾きですたい。「楽た。ごくごくひくてきう。さまがはできることませてかい。一つというんからぽんぽんこすりきで。わかっも戻っもからだというのにちょっと云いましんで。けれども一杯じっと野鼠のゴーシュと出だはよ。それじゃあみんなばかりはいりで二つのかっこうにあけてあなたの音楽でたべるから鳴っようたのた、あるよ、間もなくおろしけれども行ったてなあ。</p>
        </div>
    </div>
</main>
<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>