<%- include('partial/_util') -%>
<%
    parameters = {
        title: 'Top2',
        description: 'ブロークングリッドの実装テストです。',
        ogp: {
            card: 'photo',
            account: 'Bredtn_1et',
            type: 'website',
            image: 'https://source.unsplash.com/fENvSZUzbzU/1920x1080'
        },
        errFlag: false
    }
-%>
<%- include('partial/_head', { parameters }) -%>
<body>
<%- include('partial/_header') -%>
<!-- ブロークン アイャッチ2 -->
<div class="container-fluid c-eyecatch2">
    <div class="row px-0 pb-4 c-eyecatch2_wrapper">
        <div class="col-2 col-md-4 c-eyecatch2_catch">
            <h2 class="my-0 c-eyecatch2_head">そんなんはひとりの棒たのだっ。</h2>
            <div class="c-news">
                <div id="carouselNewsControls" class="carousel slide" data-bs-ride="carousel">
                    <ul class="carousel-inner mb-0 py-2 c-news_list">
                        <li class="carousel-item active">
                            <div class="c-news_listItem">
                                <time datetime="2021-09-25">2021/9/25</time><span class="c-news_listTitle">新着情報1</span>
                            </div>
                        </li>
                        <li class="carousel-item">
                            <div class="c-news_listItem">
                                <time datetime="2021-09-12">2021/9/12</time><span class="c-news_listTitle">お知らせ2</span>
                            </div>
                        </li>
                        <li class="carousel-item">
                            <div class="c-news_listItem">
                                <time datetime="2021-09-01">2021/9/1</time><span class="c-news_listTitle">更新履歴3</span>
                            </div>
                        </li>
                    </ul>
                    <a class="carousel-control-prev" href="#carouselNewsControls" role="button" data-bs-slide="prev">
                        <span class="c-news_pagination" aria-hidden="true">＜</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselNewsControls" role="button" data-bs-slide="next">
                        <span class="c-news_pagination" aria-hidden="true">＞</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-10 col-md-8 c-eyecatch2_inner">
            <div class="c-eyecatch2_textbox">
                <p class="py-3 px-2 mb-0">かっこうも前つけといるだ。仲間は十あわて足ぶみのようがむしってしまいまし。楽長は猫町や何を出ているた。</p>
            </div>
        </div>
    </div>
</div>
<!-- /ブロークン アイャッチ2 -->
<main class="l-main">
    <div class="container-fluid c-shortbreak">
        <div class="container py-4">
            <h1><i class="fas fa-fw fa-birthday-cake me-2" aria-hidden="true"></i><%= parameters.title %></h1>
            <p><%= parameters.description %></p>
        </div>
    </div>
    <div class="container pt-4">
        <p>遅く息でと出るてしまいてセロをなっようましゴーシュをつれてまたやはり一足を本したたい。なかなかかとリボンはがちょろちょろあけだございてこわくんとは途中も子のねどこないまし。トマトは君をさっきでし譜のなか何を飛びでようにな足ぐったがってしばらくくしゃみをするようなを勢をつまんば何かしんにくっていました。</p>
        <p>「そしてまだはじめの療。い。」なあんだととまって知らなかと鳴らしていきなりゴーシュをこどもをしきりに呆れがセロ弾きですたい。「楽た。ごくごくひくてきう。さまがはできることませてかい。一つというんからぽんぽんこすりきで。わかっも戻っもからだというのにちょっと云いましんで。けれども一杯じっと野鼠のゴーシュと出だはよ。それじゃあみんなばかりはいりで二つのかっこうにあけてあなたの音楽でたべるから鳴っようたのた、あるよ、間もなくおろしけれども行ったてなあ。</p>
    </div>
</main>
    <!-- ブロークン アイャッチ3 -->
<div class="container-fluid c-eyecatch3">
    <div class="row px-0 pb-4 c-eyecatch3_wrapper">
        <div class="col-10 col-md-8 c-eyecatch3_inner"></div>
        <div class="col-2 col-md-4 c-eyecatch3_catch">
            <h2 class="my-0 c-eyecatch3_head">そんなんはひとりの棒たのだっ。</h2>
            <div class="c-eyecatch3_textbox">
                <p class="py-3 px-2 mb-0">かっこうも前つけといるだ。仲間は十あわて足ぶみのようがむしってしまいまし。楽長は猫町や何を出ているた。</p>
            </div>
        </div>
    </div>
</div>
<!-- /ブロークン アイャッチ3 -->
<main class="l-main">
    <!-- ブロークン3 -->
    <section class="container-fluid py-4 c-broken3">
        <div class="container">
            <div class="py-4 pe-4">
                <h2>サンプルテキスト</h2>
                <p>とんとんは少しうるさいそうに云わといましでして「ひびくていわ。何とかはいっなね。用。」かっこうしは窓を出で猫を手のようと扉のところが行っていのをちがうてすこしなっなます。</p>
                <p>ではちょうど一枚ございかも睡ったこわて行きかもねむりですごああ大ああひいててたとあなたか足にのんやめと叫びのに叫びな。「音、しばらくしましことか。」包みにすっましのにまだ児のゴーシュへぽ胸んだのまん中につかれるて糸の畑倒れるのゴーシュになおしといたまし。ボロンボロンが出たんをやめてみんなは猫ました。「トランペットなんて睡っまで。</p>
                <a href="./" class="btn btn-light mt-3">サンプル1へ</a>
            </div>
        </div>
    </section>
    <!-- ブロークン3 -->
    <div class="container py-4">
        <p>遅く息でと出るてしまいてセロをなっようましゴーシュをつれてまたやはり一足を本したたい。なかなかかとリボンはがちょろちょろあけだございてこわくんとは途中も子のねどこないまし。トマトは君をさっきでし譜のなか何を飛びでようにな足ぐったがってしばらくくしゃみをするようなを勢をつまんば何かしんにくっていました。</p>
        <p>「そしてまだはじめの療。い。」なあんだととまって知らなかと鳴らしていきなりゴーシュをこどもをしきりに呆れがセロ弾きですたい。「楽た。ごくごくひくてきう。さまがはできることませてかい。一つというんからぽんぽんこすりきで。わかっも戻っもからだというのにちょっと云いましんで。けれども一杯じっと野鼠のゴーシュと出だはよ。それじゃあみんなばかりはいりで二つのかっこうにあけてあなたの音楽でたべるから鳴っようたのた、あるよ、間もなくおろしけれども行ったてなあ。</p>
    </div>

<%- include('partial/_footer') -%>
<%- include('partial/_js_loader') -%>
</body>
</html>